{{!< default}}

<main class="pure-g">
	<aside id="twitter-timeline" class="pure-u-1 pure-u-md-1-4">
		<a class="twitter-timeline" href="https://twitter.com/braini0088" data-widget-id="551783344569327617">twitter @braini0088</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</aside>

	<div id="content" class="pure-u-1 pure-u-md-3-4">
		{{> banner}}
	    
		{{#foreach posts}}
            <article>
                {{#if featured}}<img class="featured-ribbon" src="{{asset 'images/FeaturedRibbon.png'}}" />{{/if}}

                <div class="pure-g post-wrapper">
                    <span class="pure-u-1 pure-u-sm-1-2">
                        <section class="post">
                            <time class="post-date">{{date format="DD. MMM YYYY"}}</time>
                            <h2 class="post-title">{{title}}</h2>
                            <hr />
                            <p class="post-content">{{excerpt words="40"}}</p>
                            <a class="pure-button" href="{{url}}">lesen</a>
                        </section>
                    </span>

                    <span class="pure-u-1 pure-u-sm-1-2">
                        <img class="post-image" src="{{#if image}}{{image}}{{else}}{{asset 'images/ImageMissing.jpg'}}{{/if}}">
                    </span>
                </div>
            </article>
		{{/foreach}}
		
		<footer class="pure-g pure-u-1 pure-u-md-1-2">{{pagination}}</footer>
	</div>
</main>