{{!< default}}

<main class="pure-g">
    <div id="sidebar"  class="pure-u-1 pure-u-md-1-4">
        {{navigation}}

        <div id="posts_list">{{! container filled by js/posts_list.js}}</div>
    </div>
	
	<div id="content" class="pure-u-1 pure-u-md-3-4">
		{{> banner}}

		{{#post}}
            <article>
                <header class="pure-g post-wrapper">
                    <span class="pure-u-1 pure-u-sm-1-2">
                        <section class="post">
                            <p class="post-share">
                                <b>Teilen:</b>
                                <a class="share-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=450');return false;">Twitter</a>,
                                <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=300');return false;">Facebook</a>,
                                <a class="share-google" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">Google+</a>
                            </p>

                            {{#if tags}}<p class="post-tags"><b>Tags:</b> {{tags}}</p>{{/if}}

                            {{#is "post"}}
                                <br>
                                <time class="post-date">{{date format="DD. MMM YYYY"}}</time>
                            {{/is}}

                            <h2 class="post-title">{{title}}</h2>

                            <hr>

                            {{#if author}}
                                <small>
                                    <h3>{{author.name}}</h3>
                                    <p>{{author.bio}}</p>
                                </small>
                            {{/if}}
                        </section>
                    </span>

                    <span class="pure-u-1 pure-u-sm-1-2">
                        <img class="post-image" src="{{#if image}}{{image}}{{else}}{{asset 'images/ImageMissing.jpg'}}{{/if}}">
                    </span>
                </header>

                <div class="post-content">{{{content}}}</div>
            </article>
		{{/post}}
		
		{{#is "post"}}
			<footer>
	            <aside id="disqus_thread"></aside>
	            <script type="text/javascript">
					var disqus_shortname = 'kennstewayne'; // required: replace example with your forum shortname
	                if(disqus_shortname == '') {
	                    jQuery('#disqus_thread').html('Please set up Disqus shortname! (See documentation)');
	                }
	                /* * * DON'T EDIT BELOW THIS LINE * * */
	                (function() {
	                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	                })();
	            </script>
	            <noscript><a href="http://disqus.com/?ref_noscript">JavaScript required</a></noscript>
			</footer>
		{{/is}}
	</div>
</main>